@tailwind base;
@tailwind components;
@tailwind utilities;


/* from SoftUI */
.mask {
    background-size: cover;

    background-position: 50%;
    height: 100%;
    left: 0;
    /*opacity: .8;*/ /* set by tw*/
    position: absolute;
    top: 0;
    width: 100%
}

hr {
    border: 0;
    color: inherit;
    margin: 0;
    opacity: .25;
    height: 1px;

    background-color: transparent;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent)
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #141727, #3a416f)
}

.bg-gradient-green {
    background-image: linear-gradient(310deg, #17ad37, #84dc14)
}

.bg-gradient-red {
    background-image: linear-gradient(310deg, #ea0606, #ff3d59)
}

.bg-milky-glass {
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, .8) !important;
    box-shadow: inset 0 0 2px hsla(0, 0%, 100%, .82)
}

.shadow-blur {
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, .9), 0 20px 27px 0 rgba(0, 0, 0, .05) !important
}


/*button.bg-gradient-dark:hover {
    background-color: #344767;
    border-color: #344767
}*/
